.nob_m_body_add{
	text-align: left;
	padding: 5px;
	font-size: 14px;
	background-color: #FFFFFF;
	color: #000000;
}

.nob_m_body_add hr{
	display: block;
	margin: 3px 0;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #000;
	height: 1px;
	clear: both;
}

.nob_m_body_add input{
	border: 1px solid;
	margin: 3px;
	background-color: #ccc;
}

.nob_m_body_add .button_return{
	margin-right: 10px;
}

.nob_m_body_add .name_current_bookmarklet{
	display: inline-block;
}

.nob_m_body_add iframe.localstorage{
	width: 1px;
	height: 1px;
	border: 0px;
	position: absolute;
	left: -9999px;
}

.nob_m_body_main input.button_boot_main{
	width: 300px;
	max-width: 100%;
}

.nob_m_body_main input.button_boot_other{
	width: 300px;
	max-width: 100%;
}
